<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>5SEC</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackground</string>
		<key>UIImageName</key>
		<string></string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>CarterOne-Regular.ttf</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>5sec은 화상 채팅을 위해 카메라 접근 권한이 필요합니다.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>5sec은 음성 통화를 위해 마이크 접근 권한이 필요합니다.</string>
	<key>AGORA_APP_ID</key>
	<string>5b25f7d06dc14e119068f0ade2669ef3</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.pukaworks.5sec</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.pukaworks.5sec</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
